html {
    background-color: black;
}

body {
    background-color: rgb(224, 197, 201);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.4em;
    font-kerning: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding-right: 30px;
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

nav {
    background-color: black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
}

p {
    text-align: center;
}

a[href$=".html"] {
    /* Any link ending in .html turns black */
    color: black;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid black;
    background-color:rgb(172, 172, 172);
    text-decoration: none;
}

article {
    background-color: rgb(231, 120, 138);
    margin: 15px;
    padding: 20px;
    border: 5px solid black;
}

article ul {
    list-style-type: none;
    text-align: center;
    margin: none;
    padding: none;
    border: none;
}

figcaption {
    padding: 5px;
    margin-bottom: 25px;
    line-height: 1.3em;
}

img {
    object-fit: cover;
    width: 100%;
}

/* Classes */
.header {
    text-align: center;
    vertical-align: middle;
}

.intro {
    padding: 20px;
    margin: 10px;
    text-align: center;
    line-height: 1.5em;
}

.personal ul {
    padding: 0;
}

.personal {
    margin: 20px;
    flex: 1;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.commissions ul {
    padding: 0;
}

.commissions {
    margin: 20px;
    flex: 1;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.school ul {
    padding: 0;
}

.school {
    margin: 20px;
    flex: 1;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}


.about {
    font-size: 1.25em;
    text-align: left;
    vertical-align: top;
    width: 500px;
    line-height: 2em;
    display: inline-block;
    padding: 20px;
    border: 10px;
    margin: 5px;
}

.profile-pic {
    outline: 5px solid black;
    line-height: 0;
    margin: 20px;
    display: inline-block;
}

.contact-text {
    line-height: 1.5em;
}

.commission {
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    outline: 5px solid black;
    line-height: 0;
}

.contact-methods {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

.contact-methods ul {
    padding: 0;
}

.contact-methods li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    padding: 10px 30px;
    height: auto;
}

.contact-methods li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

/* Sections */
#home-images {
    display: flex;
    flex: 1;
    width: 100%;
}

#about-me {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
font-size: 1.5em;
line-height: 1.5em;
}

/* Media Query */
@media (max-width: 1095px) {
    #home-images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .personal {
        width: 400px;
    }

    .commissions {
        width: 400px;
    }

    .school {
        width: 400px;
    }
}

@media (max-width: 755px) {

    h1 {
        font-size: 2em;
    }

    #about-me {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        vertical-align: text-top;
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        line-height: 1.5em;
        width: 500px;
    }

    .profile-pic {
        display: block;
        width: 500px;
        flex-wrap: wrap;
    }

    .commission {
        width: 350px
    }

    .contact-methods li {
        padding: 10px 15px;
    }
}

@media (max-width: 505px) {
    h1 {
        font-size: 1.5em;
        margin: 15px;
    }

    nav {
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    }

    a[href$=".html"] { 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    }

    .personal {
        max-width: 300px;
        margin: 10px;
    }

    .commissions {
        max-width: 300px;
        margin: 10px;
    }

    .school {
        max-width: 300px;
        margin: 10px;
    }

    #about-me {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        vertical-align: text-top;
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        line-height: 1.5em;
        width: 300px;
    }

    .profile-pic {
        display: block;
        width: 300px;
        flex-wrap: wrap;
    }
}

@media (max-width: 455px){

    h1 {
        margin: 10px;
    }

    .personal {
        max-width: 260px;
        margin: 10px;
    }

    .commissions {
        max-width: 260px;
        margin: 10px;
    }

    .school {
        max-width: 260px;
        margin: 10px;
    }

    #about-me {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        vertical-align: text-top;
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        line-height: 1.5em;
        width: 300px;
    }

    .profile-pic {
        display: block;
        width: 300px;
        flex-wrap: wrap;
    }

    .contact-methods {
        width: 300px;
    }
}
